#all {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
}

#body-container {
  position: relative;
  // height: 100%;
  // min-height: 100%;
  // width: 100%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#body-container.show-menu {
  padding-left: 325px;
  margin-left: 0;
  margin-right: 0;
}

#main-menu-close {
  cursor: pointer;
}

#main-menu-container {
  position: fixed;
  top: 0;
  width: 325px;
  left: -325px;
  height: 100%;
  min-height: 100%;
  z-index: 2000;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  border-top: 3px solid #002145;

  font-size: 16px;
  line-height: 1.15;

  &:before,
  &:after {
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a,
  li {
    font-size: 16px;
    line-height: 1.15;
  }
}

.menu-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 28px;
  color: #fff;
  width: 50px;
  background-color: #1c1f26;
  height: 100%;
  padding-top: 40px;
  text-align: center;
}

.menu-container {
  height: 100%;
  min-height: 100%;
  background-color: $main-menu-background-color;
  // padding-top: 35px;
  margin-right: 50px;
  // padding-bottom: 180px;
  position: relative;

  ul {
    font-size: 16px;
    padding: 0;
    margin: 0;

    li {
      text-transform: uppercase;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;

      a {
        padding: 22px 40px;
        display: block;
        text-decoration: none;
        color: $main-menu-link-color;
        background-color: $main-menu-link-background-color;

        &:hover {
          background-color: $main-menu-link-background-color-hover;
        }
      }

      &.active {
        a {
          border-left: 10px solid #f9d803;
          background-color: $main-menu-link-background-color-active;
        }
      }
    }
  }


  .menu-top,
  .menu-bottom {
    font-size: 14px;
    position: absolute;
    // position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 140px;
    display: table;
    color: #dae3ec;

    a {
      color: #dae3ec;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    hr {
      width: 50px;
      height: 1px;
      border: none;
      margin: 24px auto;
      background-color: #53555b;
    }

    .widget_text {
      h2 {
        color: #dae3ec;
        margin-top: 0;
      }
    }

    .widget_search {
      input {
        width: 100%;
        height: 34px;
      }
      form {
        margin: 0;
      }
    }

    .menu-social {
      text-align: center;
      a {
        font-size: 32px !important;
        margin-right: 5px;
      }
    }
  }

  .menu-top {
    position: relative;
    bottom: auto;
    top: 0;
  }

  .menu-top > div,
  .menu-bottom > div {
    // display: table-cell;
    // vertical-align: middle;
    // text-align: center;
    padding: 15px 25px;
    margin-top: 15px;

    a {
      color: #b2bac3;
      &:hover {
        color: #fff;
      }
    }

    &.menu-top-widget {
      margin-top: 0;
    }
  }



  .menu-container .menu-bottom .social-icon {
    color: #77797e;
    font-size: 26px;
    margin: 3px;
  }

  .menu-container .menu-bottom .social-icon:hover {
    color: #a4a5a9;
  }

}

.menu-container li>ul {
  display: none;
}


.social-icon {
  color: #bcbdbf;
  text-decoration: none;
  font-size: 34px;
  margin: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.social-icon:hover {
  color: #ef3f6b;
}

.main-menu.scroll {
  max-height: 300px;
  overflow-y: scroll;
}

.show-menu #main-menu-container {
  left: 50px;
}

@media (max-width: 800px) {
  #main-menu-container {
    left: -100%;
    width: 100%;
  }
}

.main-side-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  background-color: #002145;
  z-index: 3000;
}

.menu-trigger {
  font-size: 0.9em;
  padding: 18px 14px;
  position: fixed;
  left: 0;
  top: 98px;
  bottom: 0;
  height: 14px;
  background-color: #002145;
  width: 22px;

  .menu-trigger-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

.admin-bar .menu-trigger {
  top: 130px;
}

.show-menu .menu-trigger {
  .menu-trigger-bar.first {
    transform: rotate(45deg) translate(0,8px);
  }
  .menu-trigger-bar.last {
    transform: rotate(-45deg) translate(0,-8px);
  }
  .menu-trigger-bar.middle {
    opacity: 0;
  }
}

.menu-trigger .menu-trigger-bar+.menu-trigger-bar {
  margin-top: 4px;
}

@media screen and (min-width: 1200px) {
  .menu-trigger {
    padding: 23px 19px;
    top: 115px;
  }
  .admin-bar .menu-trigger {
    top: 150px;
  }
  .show-menu #main-menu-container {
    left: 60px;
  }
  #body-container.show-menu {
    padding-left: 335px;
  }
  .main-side-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    background-color: #002145;
    z-index: 3000;
  }
}
